---
# Use defaults from the LLVM style, with modifications.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: 'true'
BreakBeforeBraces: Attach
ContinuationIndentWidth: '4'
NamespaceIndentation: All
Standard: Cpp11
UseTab: Never
SpaceBeforeInheritanceColon: false
---

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# this helps too
# https://zed0.co.uk/clang-format-configurator/
